*{
	box-sizing: border-box;
}

body {
	margin: 0;
	font: 400 19px/24px;
	color:  #ff8400;
	font-family: 'Pacifico', cursive;
}

.header {
	background-image: url(img/fon-light.jpg);
	background-position: center center;
	background-size: cover;
}
.header_title {
	text-align: center;
}
.header_title p {
	font-size: 24pt;
	margin: 0;
	padding: 30px;
}

.container_case_gallery {
	background-image: url(img/abstract2.jpg);
	background-position: center center;
	background-size: cover;
}

.wrapper {
	width: 1100px;
	margin: 0 auto;
}

.gallery_img {
	width: 100%;
	height: auto;
	object-fit: cover;
	display: block;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(20, 5vw);
    grid-gap: 10px;
    padding-top: 20px;
}

.case1 {
	grid-column: 1 / 4;
	grid-row: 1 / 5;
}

.case2 {
	grid-column: 4 / 7;
	grid-row: 1 / 6;
}
.case3 {
	grid-column: 7 / 10;
	grid-row: 1 / 6;
	
}
.case4 {
	grid-column: 1 / 4;
	grid-row: 5 / 11;
}
.case5 {
	grid-column: 4 / 7;
	grid-row: 7 / 10;
}
.case6 {
	grid-column: 7 / 10;
	grid-row: 6 / 12;
}
.poster1 {
	grid-column: 1 / 4;
	grid-row: 11 / 18;
}
.poster2 {
	grid-column: 4 / 7;
	grid-row: 11 / 18;
}
.poster3 {
	grid-column: 7 / 10;
	grid-row: 13 / 20;
}